{% extends 'BlogWebpage/blogpage_base.html' %}

{% load staticfiles %}

{% block extrahead %}

<title>Blog</title>

{% endblock %}

{% block content %}

<div class="row">
  <div class="page-header">
    <h4>January 2017</h4>
  </div>
</div>
<div class="row">
  <p class="text-justify">
    We successfully conducted an experiment with our spatial sound interface with 40 blindfolded test subjects. The goal of these experiments were to get a better understanding of how a typical user with late-onset blindness (simulated with the blindfold) will respond when tasked with pointing a camera toward a virtual target, whose location is given to the user with a spatial sound cue. 
  </p>
</div>

{% endblock %}
