{% extends 'base.html' %}

{% load staticfiles %}

{% block sidebar_content %}

<div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-md-pull-9">
  <div class="row text-center" style="padding: 25px 25px 25px 25px;"> 
    <ul class="list-group">
      <li class="list-group-item text-center"><a href="https://lcas.github.io/ActiVis/">POST 1</a></li>
      <li class="list-group-item text-center"><a href="http://staff.lincoln.ac.uk/105dd256-cd56-482d-a540-da542d70a951">Post 2</a></li>
      <li class="list-group-item text-center"><a href="https://scholar.google.co.uk/citations?user=MLYdvnwAAAAJ&hl=en&oi=pll">Post 3</a></li>
    </ul>
  </div>
</div>
	
{% endblock %}
