{% extends 'ScalewayWebsite/base.html' %}

{% block extrahead %}

<title>Curriculum Vitae</title>

{% endblock %}

{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="page-header">
    <h1>Curriculum Vitae</h1>
  </div>
  <div class="col-md-12">
    {% comment %}<a href="{% static 'ScalewayWebsite/cv/cv.pdf' %}">{% endcomment %}
      {% comment %}<img src="{% static 'ScalewayWebsite/cv/cv.png' %}" class="img-responsive" width="100%">{% endcomment %}
    {% comment %}</a>{% endcomment %}
    <iframe height="1150px" width=100% src="{% static 'ScalewayWebsite/cv/cv.pdf' %}"></iframe>
  </div>
</div>

{% endblock %}
