{% extends 'ScalewayWebsite/base.html' %}

{% block extrahead %}

<title>Jacobus Lock Home</title>

{% endblock %}

{% block content %}

<div class="row">
  <div class="page-header">
    <h1>Robotics Engineer and Tinkerer</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-justify">
	I'm Jacobus, but please call me Jaycee. Ever since childhood, I've been interested in looking inside things and finding out how they work. Taking this interest to the further, I decided to study mechatronic engineering and robotics which gave me the opportunity to not only be able to understand the world around me a bit better, but to also to make my own contributions. After finishing my undergraduate and Master's degrees in Mechatronics, I started a PhD in computer science where I looked at ways to apply active vision techniques to a human-assistive task.

	I recently received my PhD and have since been working as a post-doctorate researcher on an agri-robotics project. This project is looking into a method to integrate GNSS and IMU sensors to localise a sprayer vehicle and use a LiDAR to map out the terrain. These data are then used to generate control signals so that the sprayer booms avoid hitting the crop surface.

	Outside of work, I have a number of tinkering projects I work on. Ultimately, these are to benefit me, but I  love learning new things and often undertake these projects in a way where I'm exposed to things outside my comfort zone. For example, building and hosting this website! 
      </p>
    </div>
  </div>
</div>

{% endblock %}
